
<h2>Your Events</h2>
<br>
<ul>
<% @events.each do |e|%>
  <%if e%>
  <li><%= link_to e.name, event_path(e)%></li>
  <p>Date: <%= e.date.strftime(" %A, %B %d, %Y") %>, at <%= e.date.strftime(" %H:%M")%> - <%=e.price%></p>
  <%end%>
  <br>
  <% end %>
</ul>

<br>
<hr>


<h2>Events You're Attending</h2>
<br>
<ul>
  <% @events_attending.each do |e|%>
  <%if e%>
  <li><%= link_to e.name, event_path(e)%></li>
  <p>Date: <%= e.date.strftime(" %A, %B %d, %Y") %>, at <%= e.date.strftime(" %H:%M")%> - <%=e.price%></p>
  <%end%>
  <br>
  <% end %>
</ul>
