<h1> Edit Event </h1>
<%= form_for @event do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br></br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br></br>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br></br>
  <%= f.label :date %>
  <%= f.datetime_select :date, start_year: 2017, order:[:month, :day, :year] %>
  <br></br>
  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.all, :id, :name%>
  <br></br>
  <%= f.label :location %>
  <%= f.text_field :location%>
  <br></br>
  <%= f.label :user %>
  <%= f.collection_select :user_id, User.all, :id, :to_s%>
  <br></br>
  <%= f.submit %>
<% end %>
