<h1> New Event Form </h1>
<%= form_for @event do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br></br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br></br>
  <%= f.label "Minimum Age" %>
  <input type="integer" name="age" value="minimum age">
  <%#= f.integer_field :age, :value => "enter minimum age for entry" %>
  <br></br>
  <%= f.label "Max Capacity" %>
  <%= f.text_field :capacity, :value => "enter maximum capacity" %>
  <br></br>
  <%= f.label :price %>
  <%= f.text_field :price, :value => "$" %>
  <br></br>
  <%= f.label :date %>
  <%= f.datetime_select :date, start_year: 2017, order:[:month, :day, :year] %>
  <br></br>
  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.all, :id, :name%>
  <br></br>
  <%= f.label :location %>
  <%= f.text_field :location%>
  <br></br>

  <%= f.label :user %>
  <%= f.collection_select :user_id, User.all, :id, :to_s%>
  <br></br>
  <%= f.submit %>
<% end %>


<!-- <%#= f.label :start_time %>
<%#= f.time_select :start_time, min: Time.now%>
<br></br>
<%#= f.label :end_time %>
<%#= f.time_select :end_time, min: Time.now%>
<br></br> -->
