<!--
    <a class="nav-link active" href="/users/<%=session[:email]%>">Home</a>

    <a class="nav-link" href="/events">Events</a>

    <a class="nav-link" href="/categories">Categories</a>


    <a class="nav-link" href="/events/new">New Event</a>

    <a class="nav-link" href="/logout">Logout</a>

    <a class="nav-link active" href="/login">Login</a>

    <a class="nav-link" href="/signup">Signup</a> -->

    <!DOCTYPE html>
  <html>
    <head>
      <title> TESELLATE </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
      <%if logged_in?%>
      <nav class="navbar navbar-inverse">
    <!-- <div class="container-fluid"> -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/users/<%=session[:email]%>">  TESELLATE</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/users/<%=session[:email]%>">             </a></li>

        <li><a href="/users/<%=session[:email]%>">Home</a></li>
        <li><%=link_to "Your Events", user_events_path(User.find(session[:email]))%></li>
          <li><%=link_to "Events", events_path%></li>
        <li><%=link_to "Categories", categories_path%></li>

        <li><%=link_to "New Event", new_event_path%></li>
        <!-- <li><%=link_to "Categories", categories_path%></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout  </a></li>
      </ul>
    <!-- </div> -->
  </nav>
      <%else%>
      <nav class="navbar navbar-inverse">
    <!-- <div class="container-fluid"> -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> TESELLATE </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Log In</a></li>

      </ul>
    <!-- </div> -->
    </nav>
    <%end%>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      
      <div class="container">
        <div class="content">
        <%= yield %>
        </div>
      </div>
    </body>
  </html>
