<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" %>
    <%= link_to "Log Out", logout_path%>
    <a href="/users/<%=session[:email]%>">Profile</a>
    <%= link_to "Events", events_path%>
    <a href="/users/<%=session[:email]%>/events">Your Events</a>
    <%= link_to "Categories", categories_path%>
    <%= link_to "Create Event", new_event_path%>

    <title>Mod2RailsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
